:root {
  --font-family-primary: 'Catamaran', sans-serif;
  --font-family-secondary: 'Cairo', sans-serif;
  --font-family-tertiary: 'Roboto', sans-serif;
  --font-family-headings: 'Merriweather Sans', sans-serif;
}
