@import 'variables/colors.css';
@import 'variables/typography.css';

body {
  font-family: var(--font-family-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  padding: 20px;
}

h1,
h2 {
  color: var(--color-quartinery);
  text-shadow: 2px 2px var(--color-neutral-50);
}

h1 {
  background-color: var(--color-primary);
}

h2 {
  background-color: var(--color-tertiary);
  color: var(--color-neutral-60);
}

p {
  padding: 5px 20px;
}

code {
  color: var(--color-neutral-50);
  font-size: 0.7em;
  font-family: var(--font-family-monospace);
}

table {
  margin: 20px;
}

th,
td {
  padding: 5px 20px;
  border-bottom: 1px solid var(--color-neutral-20);
}

th {
  background-color: var(--color-secondary);
}

tr:nth-child(even) {
  background-color: var(--color-neutral-10);
}

ul,
ol {
  margin: 10px 35px;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: lower-alpha;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input[type="text"] {
  font-family: var(--font-family-primary);
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 5px;
  border: solid 1px var(--color-neutral-13);
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border: solid 1px var(--color-neutral-40);
  box-shadow: 0 0 5px 1px var(--color-neutral-15);
}

button {
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
