@import '../../../../../../css/variables/colors.css';

li.WhiteboardPostIt-post-it {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 20px;
  padding: 5px;
  border: 1px solid var(--color-quinary);
  border-radius: 1.3%;
}

.WhiteboardPostIt {
  justify-content: space-between;
  height: 300px;
  width: 300px;
}

#remove {
  float: right;
}

.title {
  font-size: 1.2em;
  font-family: var(--font-family-tertiary);
  color: var(--color-neutral-80);
}

.author-name {
  font-variant-caps: small-caps;
}

.inputs {
  display: none;
}

.WhiteboardPostIt-title {
  margin: 2px;
  padding: 5px;
}

li.WhiteboardPostIt-post-it.added-post-it {
  opacity: 0;
  animation: new-item-animation 1s ease-in forwards;
}

li.WhiteboardPostIt-post-it.updated-post-it {
  opacity: 0;
  animation: new-item-animation 1s ease-in forwards;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
